<pro-header></pro-header>

<nz-card [nzBordered]="false">
    <div class="d-flex align-items-center mb-lg">
        <h3 class="flex-1 text-lg">操作资源列表</h3>
        <div>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" class="mr-sm" (click)="createAction()">
                    <i class="anticon anticon-plus"></i><span>新增操作资源</span>
            </button>
        </div>
    </div>
    <nz-table
        #nzTable
        [nzDataSource]="data"
        [nzPageSize]="10"
        [nzBordered]="false"
        [nzLoading]="loading"
        [nzIsPagination]="true"
        [nzShowFooter]="false"
        [nzShowTitle]="true"
        [nzSize]="size">
        <span nz-table-title>管理员</span>
        <thead nz-thead *ngIf="true">
            <tr>
                <th nz-th><span>操作关键字</span></th>
                <th nz-th><span>操作名称</span></th>
                <th nz-th><span>操作说明</span></th>
                <th nz-th><span>操作</span></th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                <td nz-td>{{data.id}}</td>
                <td nz-td>{{data.title}}</td>
                <td nz-td>{{data.subDescription}}</td>
                <td nz-td>
                    <span>
                        <a (click)="showMsg('Edit')">编辑</a>
                        <span nz-table-divider></span>
                        <nz-popconfirm [nzTitle]="'确认删除？'" [nzOkText]="'删除'" [nzCancelText]="'不删除'" (nzOnConfirm)="removeUser(data)">
                            <a nz-popconfirm>删除</a>
                        </nz-popconfirm>

                    </span>
                </td>
            </tr>
        </tbody>
        <span nz-table-footer>Here is footer</span>
    </nz-table>


</nz-card>
